
html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

body {
    font-family: Verdana, Arial, serif;
    background-color: #edddd4;
    margin: 0;
  }

#container{
	width:100%;
	height: 100%;
	display:flex;
  flex-direction: column;
  }

/* header styles */

header {
    color: white;
    background: url(../images/apples-pile-close.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 13em;

  }



header h1 {
    margin-top: 1.5em;
    font-family: Georgia, serif;
    color: white;
  }

header h2 {
    margin-top: 1em;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.2em;
  }


  /* nav styles */
nav a {
    text-decoration: none;
  }

nav {
    font-family: verdana, sans-serif;
    background-color: #772e25;
  }

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
  }

nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {
    color: #dda15e;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    flex-grow: 1;
  }

nav ul li a {
    display: block;
    border: 1px solid;
    padding: .5em 1em;
    border-radius: .5em;
    margin: .25em;
  }


/* main "products" styles */
main {
    font-size: 1em;
    font-family: Verdana, sans-serif;
    line-height: 1.4em;
    color: #555;
    margin: 4px;
  }

main h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.7em;
    color: #772e25;
    text-align: center;
    line-height:1.4em;
  }

main h3 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #555;
    border-bottom: 1px solid;
    margin-top: 1.3em;
    text-align: center;
  }

  .content{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
  }

  .content p {
    text-align: center;
  }
  .content img{
    width: 100%;

  }

  .Entretainment{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .day {
    color: #783F27;
    font-family: verdana, sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    text-align: left;
  }



  /* aside "hours" styles */
  aside {
    background: url(../images/stand-s2.jpg) no-repeat center center;
    font-size: 1em;
    font-family: Verdana, sans-serif;
    color: black;
  }
  aside .extra{
    background-color: #F6F3ED;
    padding: 1em;
    margin: 10px;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;

  }
  aside h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.6em;
    color: #041f1e;
    text-align: center;
    font-weight: bold;
    margin: 1px;
  }
  .extra a {
    background-color: #772e25;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0.5em;
  }

  aside p{
    font-size: 0.9em;
  }

.vendors .buttons{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  margin: 1em;

}

.vendors .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons img{
  max-width: 80px;
  max-height: 80px;
}
.vendors.buttons{
  border:  1px solid;
  border-color: #772e25;
}
 .button{
    background-color: #783F27;
    border: none;
    color: white;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: 0.5em;
}
.vendors .button:hover {
  background-color: #dda15e;;
  color: white;
}

.gallery .button{
  padding: 0;
  opacity: 0.5;
  background-color: white;
}

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .button:hover {
  background-color: #dda15e;;
  opacity: 1;
}

/*questions & answers*/
  .Questions_container{
    border: dotted 4px #772e25;
    border-radius: 10%;
  }
  .question {
    color: #041f1e;
    font-weight: bold;
  }
  .Questions_container p{
    text-align: left;
    margin-left:2em;
    margin-right: 2em;
  }

/*footer*/
#footer {
    width:100%;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:#edddd4;
}

  .footer-content {
	margin: 0 auto;
	padding: 45px 0 20px;
	color: #a5a5a5;
}

 .footer-content .social{
    overflow:hidden;
	margin: 0 auto 45px;
}

 .footer-content .social li{
    float:left;
	margin: 0 0 0 10px;
	border-radius: 50%;
	text-indent: -9999px;
	background: #772e25;
	width: 60px;
	height: 60px;
	position:relative;
	display: table;
}

  .footer-content .social li:first-child{margin: 0;
}
  .footer-content .social li a{
	display: table-cell;
	position: relative;
}

  .footer-content .social li.email a{background: url(../images/icon_email-s.png) no-repeat 50% 50% ;}
  .footer-content .social li.facebook a{background: url(../images/icon_fb.png) no-repeat 50% 50%;}
  .footer-content .social li.twitter a{background: url(../images/icon_tw.png) no-repeat 50% 50% ;}
  .footer-content .social li.linkedin a{background: url(../images/icon_pn.png) no-repeat 50% 50%;}

.hidden{
  display: none;
}



/* wider screens */
@media (min-width: 600px) {
    /*homepage*/
   .plan{
    display: flex;
    flex-direction: row;
   }
   .plan1{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .plan2{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .plan li{
    list-style-type: none;
   }

   /*vendors*/

   .vendors .short{
    display: flex;
    flex-direction: row;

   }

   .short .vendorclass{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .long .vendorclass{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .vendors .crafters{
    display: flex;
    flex-direction: row;
   }
   .vendors .long .block{
    margin-left:1em;
   }

   .vendorclass ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

   /*footer*/
   .footer-content .social li{
    margin-left:2em;
   }



}


@media (min-width: 900px) {
    /*header*/
    nav ul li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 200px;
      }
    nav ul {
        justify-content: center;
      }

    /*home page*/
    .page-middle{
      display: flex;
      flex-direction: row;
    }

    .scheudle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Hours{
        display: flex;
        flex-direction: row;
    }

    .Hours p{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 3em;
        margin-right: 3em;
    }
    .Intro{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Intro p{
        text-align: justify;
        padding-left: 2em;
        padding-right: 2em;
        flex-basis:60%;
    }

    .Intro picture{
        flex-basis:40%;
    }
    .Key{
        display: flex;
        flex-direction: row;
    }

    .Key .content{
        display: flex;
        flex-direction: column;
        flex-basis:50%;
    }

    .plan{
        display: flex;
        flex-direction: column;
       }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
    }

    aside .extra{
        margin-bottom: 10em;
    }

    /*About*/

    .welcome{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: 50%;
    }
    .welcome picture{
        flex-basis: 33.33%;
    }
    .welcome .text{
        flex-basis: 66.66%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .History{
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        align-items: center;
    }
    .History picture{
        flex-basis: 33.33%;
    }
    .History .text{
        flex-basis: 66.66%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }*/

    .gallery figure {
        width: 42%;
        padding-bottom: 2%; /* Same as width, sets height */
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
    }

    /*vendors*/
    .vendors .food{
        display: flex;
        flex-direction: row;
       }
    .vendors .short .block{
        margin-left:1em;
       }

    .vendors .long .block{
        margin-left:3em;
        margin-right: 3em;
       }


    .vendors .vendorclass li{
        text-align: center;

    }
    .vendorclass picture{
      height: 50%;
      width: 50%;

     }

  }
